
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: 	#404040;
}

.container-left {
    width: 60%;
    display: block;
}

.container-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Header */

header {
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid darkgrey;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header img {
    flex-grow: 1;
    align-items: center;
    height: 2rem
}

header span {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.word1 {
    font-weight: 600;
    color: rgb(31, 31, 165);
}

.word2 {
    font-weight: 100;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.mobile {
    display: none;
}

nav ul li {
    display: inline-flex;
    padding-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: 	#404040;
}

nav ul li a:hover {
    color: darkblue;
    font-weight: 600;
}

.mobile {
    display: none;
}
/* Main Section */

main {
    position: relative;
    top: 4rem;
}

.bannersection {
    background-color: lightgray;
    display: flex;
    padding: 0 1.5rem 0 1rem;
}

.bannersection .container-right {
    padding: 2rem 3rem 3rem 1.5rem;
}

.bannerimg {
    padding: 2rem 1.5rem;
    width: 60%;
}

button {
    border: 2px solid darkblue;
    border-radius: 10px;
    height: 3.5rem;
    padding: 8px 0 8px 0;
    margin-top: 3rem;
    width: 80%;
    background-color: transparent;
    color: darkblue;
}

button:hover {
    background-color: rgba(2, 2, 83, 0.658);
    color: white;
}

h1 {
    font-size: 2.5rem!;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    color: rgba(2, 2, 83, 0.829);
}

.bannersection .container-right h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    color: 	#404040;
    padding: 0 1.5rem 0 1rem;
}

.container-left img {
    width: 100%;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
}

.infomain {
    padding: 2rem 1.5rem;
}

.information .container-right {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.information .container-right img {
    width: 35%;
    height: auto;
    object-fit: contain;
}

.description {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 2rem;
}

.article {
    padding: 1.5rem;
    border: 2px solid lightgrey;
    display: inline-flex;
}

.article:hover {
    background-color: lightgrey;
}

h3 {
    font-size: 1.5rem;
    color: rgba(2, 2, 83, 0.829);
}

.description p {
    padding-top: 1rem;
}

.description a {
    color: blue;
}

.information p {
    line-height: 22px;
    padding-bottom: 1rem;
}

.credit {
    padding-bottom: 2rem;
}

/* Courses Section */
.learningsection {
    padding: 3rem 3.5rem;
    background: lightgray;
}

.learningsection h1 {
    text-align: center;
}

.contentcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.course {
    background-color: white;
    margin: 1rem;
    width: 28%;
    border-radius: 2px;

}

.course:hover {
    box-shadow: 1px 2px 10px;
}

.course img {
    height: auto;
    width: 100%;
}

.course-description {
    display: block;
    padding: 1rem;
    text-align: center;
}

.course h3 {
    padding-bottom: 2rem;
}

.course-description p {
    padding-bottom: 0.5rem;
    color: grey;
}

.courses-mobile {
    display: none;
}

/* Thesis Section */
.thesis-container {
    display: flex;
    margin: 0 1.5rem 2rem 2.5rem;
}

.thesis-section h1 {
    display: block;
    text-align: center;
    margin: 3rem 0;
}

.thesis-section .container-left h2 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.thesis-section .container-right {
    height: 70%;
    border: none;
    padding-left: 1rem;
}

.thesis-section .container-right img {
    width: 35%;
    height: auto;
}

.thesis-section .article {
    border: none;
}

.thesis-section .description {
    padding-top: 0;
}

.thesis-mobile {
    display: none;
}
/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-top: solid 1px lightgrey;
}

footer ul li {
    display: inline-flex;
    padding-left: 1rem;
}

/* Tablet Responsive Design */
@media only screen and (max-width: 1024px) {
    .information .article {
        padding: 0 1.5rem;
        margin: 0;
    }

    .information .article img {
        width: 45%;
    }

    .information .article h3 {
        font-size: 1.2rem;
    }

    .information .article p {
        font-size: 0.9rem;
    }

    .information p {
        line-height: 1rem;
        padding-bottom: 0;
    }

    .readmore {
        margin-bottom: 1.5rem;
    }

    .thesis-section .article {
        padding-top: 1rem;
    }

    .description p {
        padding-top: 0.5rem;
    }

    .credit {
        padding-bottom: 0;
    }

    .thesis-section .container-right {
        padding: 0;
    }

    .thesis-section .container-right h3 {
        font-size: 1.2rem;
    }
}

/* Mobile Responsive Design */
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    nav {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .bannersection {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .bannerimg {
        padding: 0 0 2rem 0;
        width: 100%;
    }

    .bannersection .container-right {
        padding: 0 1rem 0 1rem;
        align-items: center;
    }

    .bannersection .container-right h2 {
        font-weight: 300;
        font-size: 1rem;
    }

    button {
        width: 50%;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    .information {
        display: flex;
        flex-direction: column;
    }

    .container-left {
        width: 100%;
    }

    .container-right {
        width: 100%;
    }

    .information .container-left {
        display: none;
    }

    .information .container-right {
        padding: 2rem 0 2rem 0;
    }

    .information .article img {
        width: 100%;
        object-fit: cover;
        margin-top: 1.5rem;
    }

    .article {
        display: block;
        width: 100%;
        text-align: center;
    }

    .description {
        width: 100%;
        padding-bottom: 0.5rem;
    }

    .information .grey {
        background-color: white;
    }

    .learningsection {
        background-color: white;
        padding: 2rem 2.5rem 1rem 2.5rem;
    }

    .learningsection .contentcontainer {
        display: none;
    }

    .courses-mobile {
        display: block;

    }

    .courses-mobile div {
        background-color: lightgray;
        margin-bottom: 0.5rem;
    }

    .courses-mobile h3 {
        text-align: center;
        padding: 1rem 1.5rem;
    }

    .thesis-container {
        display: none;
    }

    .thesis-mobile {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    footer {
        padding: 1rem 4rem 1rem 1rem;
    }

    footer ul {
        display: none;
    }
}